.header {
  position: fixed;
  width: 100%;
  padding: 8px;
  background-color: teal;
  z-index: 2;

  @include tablett {
    padding: 12px;
  }

  @include desktop {
    padding: 16px;
  }
}

.search-form {
  display: flex;
  justify-content: center;
}

.field__item {
  padding: 8px;
}

.submit__button {
  margin-left: 10px;
  padding: 0 20px;
}

.container {
  width: 100%;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  margin-top: 52px;
  width: 340px;
  gap: 30px;

  @include tablett {
    width: 710px;
    margin-top: 60px;
  }

  @include desktop {
    width: 1080px;
    margin-top: 68px;
  }
}

.photocard__img {
  object-fit: cover;
  object-position: center center;
  height: 240px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.5));

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    transform: scale(1.03);
    cursor: pointer;
  }
}

.photocard__icon {
  display: inline-block;
  vertical-align: middle;
  fill: #444444;
}

.photocard__detail {
  display: flex;
  padding: 7px 7px;
  font-size: 11px;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 300;
  color: #777777;
  background-color: #e8f0f0;
  border-radius: 4px;
  justify-content: center;
}

.photocard__totals {
  font-size: 11px;
  font-weight: 500;
  font-family: 'Roboto Condensed', sans-serif;
  color: #444444;
  margin-left: 2px;
  margin-right: 6px;
}

.load-more__button {
  display: block;
  margin: 30px auto;
  height: 40px;
  padding: 0 40px;
}

.is-hidden {
  display: none;
}
